// _headings.scss
h1 {
    font-family: "Teko", serif;
    font-size: 3em;
    margin: 0;
    color: #231651;
    padding: 16px;
    animation: fadeIn 1s ease-in-out forwards;
}

h2{
    font-family: "Teko", serif;
    font-size: 2em;
    color: #231651;
  }