
.column-image1 {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    }

.column-image2 {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    }
    
        
.row-image {
    width: 50%;
     height: auto;
        }
