
.la_la-land_info {
    color: #ffffff;
    font-size: 1.5em;
    padding: 16px;
    background-color: #4DCCBC;
    display: flex;
    font-family: "Lato", sans-serif;
    flex-direction: row;
    margin-bottom: 48px;
}

.lala{
    display: flex;
    flex-direction: column;}

.column1 p {
    font-size: 1.5em;
     color: #ffffff;
    font-family: "Lato", sans-serif;;
    }

    .column2 p {
        font-size: 1.5em;
        padding: 16px;
        color: #ffffff;
        font-family: "Lato", sans-serif;;
        }
 
        
        .content p {
            font-size: 1.5em;
            font-family: "Lato", sans-serif;;
            color: #ffffff;
        }