body  {
   background-color: black;  
  }

  
  .header {
    padding: 10px;
    text-align: center;
    background:  #333;
    color: white;
  }
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
  }
  .card1 {
    border-style: solid;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .card2 {
    border-style: solid;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .card3 {
    border-style: solid;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .card6 {
    border-style: solid;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .card5 {
    border-style: solid;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .card7 {
    border-style: solid;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .card8 {
    border-style: solid;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
      padding: 20px;
    text-align: center;
    background:  #333;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }
  form.example input[type=text] {
    padding: 10px;/*used to create space around an element's content, inside of any defined borders.*/
    font-size: 17px;/* size of the text*/
    border: 1px solid grey;/* the outline for the search bar*/
    float: left;/* the position of search bar*/
    width: 80%; /* the width of search bar*/
    background: #f1f1f1;/*the color that inside the search bar*/
  }
  form.example button {
    width: 10%;/* the width of the submit bar*/
    padding: 10px;
    background:blanchedalmond;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: rgb(132, 230, 132);
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Image styling */
.section img {
  /* Set width and height for images */
  width: 800px;
  height: 1000px;
  /* Adjust margins for positioning */
  margin-top: 20px;
  margin-left: -20px;
}

/* Image specific styles */
.section .img1 {
  /* Set width and height */
  width: 700px;
  height: 1000px;
  /* Adjust spacing between images */
  margin-bottom: -90px;
  margin-left: -550px;
  /* Add a border to img1 */
  border: 15px solid white;
}

 
/* Header 1 styling */
.section h1 {
  /* Positioning */
  position: absolute;
  top: 550px;
  left: 900px;
  /* Font size and family */
  font-size: 41px;
  font-family: "Dancing Script", cursive;
  /* Text and background color */
  color: black;
  background-color: white;
  /* Padding and display */
  padding: 10px;
  display: inline-block;
  /* Border */
  border: 15px solid white;
}



/* Paragraph styling */
.section p {
  /* Positioning */
  position: absolute;
  top: 770px;
  left: 1000px;
  /* Font weight, size, and family */
  font-weight: bold;
  font-size: 35px;
  font-family: "Zilla Slab", serif;
  /* Text color and padding */
  color: black;
  background-color: white;
  padding: 10px;
  /* Display */
  display: inline-block;
}
 
 

/* Image 2 styling */
.section .img2 {
  /* Set width and height */
  width: 400px;
  height: 300px;
  /* Adjust spacing between images */
  margin-bottom: -120px;
  margin-left: 1500px;
}

.footer {
  padding: 20px;
  text-align: center;
  background:  #333;
  margin-top: 150px;
}
.copyright{
  text-align: center;
}