body  {
  background-image: url("img/flexbox.gif");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Noto Serif", serif;
}

.header {
  padding: 10px;
  text-align: center;
  background:  #C0D6E8;
  color: #00224D;
}

.topnav {
  overflow: hidden;
  background-color: #7C93C3;
  flex-direction: row;
  display: flexbox;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
  background:  #7C93C3;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ffd700;
  color: white;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  width: 10%;
  padding: 10px;
  background: #ffd700;
  color: black;
  font-size: 20px;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: white;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  padding: 7px;
  background:  #7C93C3;
  margin-top: 550px;
  font-size: 20px;
  flex-direction: row;
  display: flexbox;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #ffd700;
  text-decoration: none;
}

.copyright {
  text-align: center;
  font-size: 16px;
}
